.headerButtonDiv {
    float: right;
}
.headerDiv {
    width: 100%;
    padding: 5px;
}
.headerButton {
    margin-left: 5px;
}
.loadingData {
    width: 50%;
    margin: auto;
}
.loadingData h4 {
    width: 150px;
}