 /* .ms-DetailsRow .is-checked .ms-Check-circle {
  background-color: #0D2499;
  border-radius: 50%;
}

.ms-DetailsHeader .is-checked .ms-Check-circle {
  background-color: #0D2499;
  border-radius: 50%; 
  border-color: #0D2499;
}  */

.appuserroles .ms-DetailsHeader-cell {
    background-color: #b6bddf;
    color: black
}
.appuserroles .ms-DetailsHeader-cell:hover {
  background-color: #6e7cc2;
  color: black;
}
.appuserroles .ms-DetailsHeader .ms-Icon {
  color: black; 
} 
.appuserroles .ms-DetailsRow {
  background-color: #F3F3F3;
  border-color: #EBEBEB;
}
.appuserroles .ms-DetailsRow:hover {
  background-color: #DEDEDE;
  border-color: #D8D8D8;
}