 /* .ms-DetailsRow .is-checked .ms-Check-circle {
  background-color: #0D2499;
  border-radius: 50%;
}

.ms-DetailsHeader .is-checked .ms-Check-circle {
  background-color: #0D2499;
  border-radius: 50%; 
  border-color: #0D2499;
}  */
