 /* .ms-DetailsRow .is-checked .ms-Check-circle {
  background-color: #0D2499;
  border-radius: 50%;
}

.ms-DetailsHeader .is-checked .ms-Check-circle {
  background-color: #0D2499;
  border-radius: 50%; 
  border-color: #0D2499;
}  */

.appuserroles .ms-DetailsHeader-cell {
    background-color: #E7E9F5;
    color: black
}
.appuserroles .ms-DetailsHeader-cell:hover {
  background-color: #B7BEE1;
  color: black;
}
.ms-DetailsHeader-cell .ms-DetailsHeader-cellTitle .ms-Icon {
  color: black; 
} 
 .appuserroles .ms-DetailsRow {
  background-color: white;
  border-color: #F2F2F2;
}
.appuserroles .ms-DetailsRow:hover {
  background-color: #F2F2F2;
  border-color: #D8D8D8;
}